@import "colors.rasi"

configuration {
  font:                 "JetBrains Mono 10";
  show-icons:           false;
  disable-history:      false;
  fullscreen:           false;
  hide-scrollbar:       true;
  sidebar-mode:         false;
}

window {
  transparency:     "real";
  background-color: @bg;
  text-color:       @fg;
  border-radius:    0px;
  width:            420px;
  location:         northeast;
  anchor:           northeast;
  x-offset:         -30px;
  y-offset:         45px;
}

prompt {
  enabled:          true;
  padding:          0px 0px 0px 0px;
  background-color: @ac;
  text-color:       @bg;
  expand:           true;
  str:              "";
  font:             "JetBrains Mono 10";
}

inputbar {
  children:         [ prompt, entry ];
  background-color: @ac;
  text-color:       @bg;
  expand:           false;
  border:           0px 0px 1px 0px;
  border-radius:    0px;
  border-color:     @se;
  margin:           0px;
  padding:          10px;
}

entry {
  background-color: @ac;
  text-color:       @bg;
  placeholder:       "Search Network...";
  placeholder-color: @bga;
  expand:            true;
  horizontal-align:  0;
}

listview {
  background-color: @al;
  padding:          0px;
  columns:          1;
  lines:            8;
  spacing:          0px;
  cycle:            true;
  dynamic:          true;
  fixed-columns:    true;
}

mainbox {
  background-color: @al;
  border:           0px;
  border-radius:    0px;
  border-color:     @ac;
  children:         [ inputbar, listview ];
  spacing:          5px;
  padding:          0px;
}

element {
  background-color: @bg;
  text-color:       @fg;
  orientation:      horizontal;
  border-radius:    0px;
  padding:          10px 12px 10px 12px;
}

element-icon {
  size: 0px;
}

element-text {
  background-color: transparent;
  text-color:        inherit;
  expand:            true;
  horizontal-align:  0;
  vertical-align:    0.5;
  font:              "FiraCode 11";
}

element selected {
  background-color: @se;
  text-color:       @ac;
  border:           0px;
  border-radius:    0px;
}

error-message {
  background-color: @bg;
  text-color:       @fg;
  border:           0px;
  border-radius:    0px;
  padding:          10px;
}
