@import "colors.rasi"

configuration {
  font:                 "FiraCode 10";
  show-icons:           false;
  display-drun:         "";
  drun-display-format:  "{name}";
  disable-history:      false;
  fullscreen:           false;
  hide-scrollbar:       true;
  sidebar-mode:         false;
}

window {
  transparency:     "real";
  background-color: transparent;
  text-color:       @fg;
  width:            120px;
  location:         east;
  x-offset:         -4px;
  y-offset:         0;
}

prompt {
  enabled:          true;
  padding:          0px 0px 0px 0px;
  background-color: @bg;
  text-color:       @fg;
  expand:           true;
  str:              "";
  font:             "FiraCode 10";
}

inputbar {
  children:         [ prompt ];
  background-color: @bg;
  text-color:       @fg;
  expand:           false;
  border:           0px 0px 0px 0px;
  border-radius:    0px;
  border-color:     @se;
  margin:           0px;
  padding:          10px;
  horizontal-align: 0.5;
}

listview {
  background-color: transparent;
  padding:          5px;
  columns:          1;
  lines:            5;
  spacing:          10px;
  cycle:            true;
  dynamic:          true;
  fixed-columns:    true;
}

mainbox {
  background-color: transparent;
  border:           0px;
  border-radius:    0px;
  children:         [ listview ];
  spacing:          5px;
  padding:          5px;
}

element {
  background-color: @bg;
  text-color:       @fg;
  orientation:      vertical;
  border:           2px;
  border-radius:    50px;
  border-color:     @muted;
  padding:          20px 5px 20px 5px;
}

element-icon {
  size: 0px;
}

element-text {
  background-color: transparent;
  text-color:        inherit;
  expand:            true;
  horizontal-align:  0.5;
  vertical-align:    0.5;
  font:              "FiraCode 16";
}

element selected {
  background-color: @se;
  text-color:       @lightblue;
  border:           2px;
  border-radius:    50px;
  border-color:     @lightblue;
}
